# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# PyInstaller
*.spec

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Databases
db.sqlite3
db.sqlite3-journal

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables / secrets
.env
.env.*

# IDE settings
.idea/       # PyCharm or other Jetbrains IDE's
.vscode/     # Visual Studio Code

# OS-specific files
.DS_Store    # macOS
Thumbs.db    # Windows